$content-width: 1000px;
$nav-width: 300px;

.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;

  @include mq(md) {
    flex-flow: column nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    border-right: $border $border-color;
    align-items: flex-end;
  }

  @include mq(lg) {
    width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    min-width: $nav-width;
  }
}

.main {
  @include mq(md) {
    position: relative;
    max-width: $content-width;
    margin-left: $nav-width-md;
  }

  @include mq(lg) {
    // stylelint-disable function-name-case
    // disable for Max(), we want to use the CSS max() function
    margin-left: Max(
      #{$nav-width},
      calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width})
    );
    // stylelint-enable function-name-case
  }
}


.site-nav,
.site-header,
.site-footer {
  width: 100%;

  @include mq(lg) {
    width: $nav-width;
  }

}

.site-nav {
  .nav-category:not(:first-of-type) {
    margin-top: 5rem;
  }
}

.breadcrumb-nav-list-item {
  display: table-cell;

  border-right: 1px dashed $purple-000;
  padding-right: $sp-2;
  padding-left: $sp-2;

  &::after {
    content: "";
    margin: 0
  }

  &:last-child {
    border-right: none;
  }
}

.back-to-top-abs {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

#back-to-top-button {
  display: inline-block;
  padding: 0.3em 0.5em;
  background-color: $grey-lt-000; /* Change to match your theme's color */
  color: $purple-000;
  border-radius: 32px;
  text-decoration: none;
  cursor: pointer; /* Indicates the button is clickable */
  svg {
    padding-right: 0.4rem;
    width: 1.5em;
    height: 1.5em;
    transform: rotate(-90deg);
  }
}

#back-to-top-button:hover {
  background-color: $grey-lt-100; /* Darker shade for hover effect */
}

.main-content {
  h1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    a {
      color: inherit; // Keep the original color
      text-decoration: none;  // remove underline
    }
  }
  h2 {
    a {
      color: inherit;
      text-decoration: none;
    }
    &::after {
      content: "";
      display: block;
      height: 1px;
      background-color: $border-color;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
  h3 {
    a {
      color: inherit;
      text-decoration: none;
    }
  }

}



.btn-red {
  @include btn-color($white, $red-000);
}

.btn-yellow {
  @include btn-color($white, $yellow-100);
}
