<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>
<script src="/assets/js/guide-custom.js"></script>

<!-- Favicon -->
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/logo/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/logo/favicon/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/logo/favicon/apple-touch-icon.png">
<meta name="msapplication-TileColor" content="#da532c">
